.stats {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.number {
  font-size: 64px;
  font-weight: bold;
  color: #8278e6;
}

.note {
  width: 100%;
  padding-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 512px) {
  .number {
    font-size: 48px;
  }
}
